## Exercise 1

In [1]:
##Q1. What is 7 to the power of 4?

In [2]:
7**4

2401

In [3]:
# Q2.Split this string
#    s = "Hi there Yogesh!"
#    into a list.

In [26]:
s="Hi there Yogesh!"

In [27]:
type(s)

str

In [28]:
s1=['Hi','there','Yogesh']

In [29]:
s1

['Hi', 'there', 'Yogesh']

In [30]:
type(s1)

list

In [11]:
## Q3. Given the variables
#      planet = "Earth"
#      diameter = 12742
#   ** Use .format() to print the following string: **

#       The diameter of Earth is 12742 kilometers.

In [33]:
planet = "Earth"
diameter = 12742

In [34]:
'The diameter of {} is {} kilometers'.format(planet,diameter)

'The diameter of Earth is 12742 kilometers'

In [35]:
'The diameter of {} {} is {} {} kilometers'.format(planet,planet,diameter,diameter)

'The diameter of Earth Earth is 12742 12742 kilometers'

In [40]:
print('The diameter of {one} is {two} kilometers'.format(one=planet, two=diameter))

The diameter of Earth is 12742 kilometers

In [37]:
'The diameter of {} is {} kilometers'.format(diameter, planet)

'The diameter of 12742 is Earth kilometers'

In [41]:
'The diameter of {one} is {two} kilometers'.format(one=planet,two=diameter)

'The diameter of Earth is 12742 kilometers'

In [ ]:
## Q3.  Given this nested list, use indexing to grab the word "hello"
# lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [43]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [45]:
lst[3][1][2][0]

'hello'

In [ ]:
# Q4. Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky
# d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [51]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [63]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [64]:
# Q5.  What is the main difference between a tuple and a list?

In [65]:
# --> 1.Lists are mutable(we can overwrite) but Tuples are Immutable(can't overwrite)
# --> 2.Listes are enclosed in [] brackets and Tuples are enclosed in () brackets

In [66]:
# Q6.  Create a function that grabs the email website domain from a string in the form: 
#      user@domain.com
#      So for example, passing "user@domain.com" would return: domain.com

In [67]:
email_Id="user@domain.com"

In [68]:
email_Id

'user@domain.com'

In [70]:
email_Id.split('@')

['user', 'domain.com']

In [72]:
email_Id.split('@')[1]

'domain.com'

In [77]:
email_Id.split('@')[-1][0:10]

'domain.com'

In [78]:
email_Id.split('@')[-1]

'domain.com'

In [ ]:
# Q7. Create a basic function that returns True if the word 'dog' is contained in the input string.
#     Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.

In [80]:
data='Is there a dog here?'

In [81]:
data

'Is there a dog here?'

In [82]:
type(data)

str

In [95]:
if dog in data:
    print('True')

True

In [ ]:
# Q8.  Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.

In [103]:
str=('This dog runs faster than the other dog dude!')

In [104]:
type(str)

str

In [107]:
str.count('dog')

2

In [ ]:
# Q9. Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. 
#     For example:

#    seq = ['soup','dog','salad','cat','great']
#    should be filtered down to:

#    ['soup','salad']

In [128]:
seq = ['soup','dog','salad','cat','great']

In [129]:
type(seq)

list

In [130]:
(lambda x:x[0]!='s')

In [131]:
map(lambda x:x[0]!='s',seq)

In [132]:
list(map(lambda x:x[0]!='s',seq))

[False, True, False, True, True]

In [133]:
list(filter(lambda x:x[0]!='s',seq))

['dog', 'cat', 'great']

In [134]:
##If we want words staring from 'S'

In [ ]:
seq = ['soup','dog','salad','cat','great']

In [135]:
lambda v:v[0]=='s'

In [136]:
map(lambda v:v[0]=='s',seq)

In [137]:
list(map(lambda v:v[0]=='s',seq))

[True, False, True, False, False]

In [138]:
list(filter(lambda v:v[0]=='s',seq))

['soup', 'salad']

In [ ]:
# Q10. You are driving a little too fast, and a police officer stops you. 
#      Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
#      If your speed is 60 or less, the result is "No Ticket".
#      If speed is between 61 and 80 inclusive, the result is "Small Ticket". 
#      If speed is 81 or more, the result is "Big Ticket". 
#      Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, 
#      your speed can be 5 higher in all cases.

In [6]:
def catch_speed(speed,birthday):
    if birthday:
        new_speed=speed-5
    else:
        new_speed=speed
    if new_speed>80:
        return "BIG TICKET"
    elif new_speed>60:
        return "SMALL TICKET"
    else:
        return "NO TICKET"

In [8]:
catch_speed(81,True)

'SMALL TICKET'

In [9]:
catch_speed(81,False)

'BIG TICKET'

In [14]:
catch_speed(40,True)

'NO TICKET'

In [ ]:
# Q11. Given a string print number num by extracting all the                                                ###(Interview Que)
#      digits from the string as in string
#      Print negative number if the first character in 
#      string is '-'
#      eg.
#        -123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

In [21]:
a=input("Enter the input: ")
num=""
s=[0,1,2,3,4,5,6,7,8,9]
if a[0]=='-':
    num=num+a[0]
for c in a: 
    if c in str(s):
        num=num+c
print(num)

Enter the input: -97df889ffg
-97889

In [22]:
# Q12. WAP to check whether a number is palindrome or not on following conditions.
#      1. take input number
#      2. add number and its reverse
#      3. check that number is palindrome or not,if not then sum and its reverse

In [46]:
num1=input("Enter the number:")
num2=int(num1[::-1])
num3=str(int(num1)+num2)
while num3!=num3[::-1]:
    num3=str(int(num3)+int(num3[::-1]))
    print("Number is :",num3)
    print("Reverse is :",num3[::-1])
print("Reverse is:",num3)

Enter the number:987
Number is : 8547
Reverse is : 7458
Number is : 16005
Reverse is : 50061
Number is : 66066
Reverse is : 66066
Reverse is: 66066

In [47]:
num1

'987'

In [48]:
num2

789

In [49]:
num3

'66066'

In [ ]:
# Q13. Write a python function to find and display the five 
#      digit number in which the first digit is two more than 
#      the second,the second digit is two more than the third,
#      the fourth digit is two less than the third, and the 
#      last digit is two more than
#      the fourth.The sum of the third,fourth and fifth digits
#      equals the first.The sum of all the digits is 19

In [52]:
def find_five_digit():
    for i in range(0,9,1):
        a = i
        b = i-2
        c = i-4
        d = i-6
        e = i-4
        if(c+d+e == a):
            if(a+b+c+d+e == 19):
                return int(str(a)+str(b)+str(c)+str(c)+str(d)+str(e))

In [53]:
print (find_five_digit())

753313